.grafico{
  margin: 0;
  border-radius: 15px;
  overflow-x: scroll;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, .4);
  margin-bottom: 1rem;
}
.grafico p{
  padding: .5rem 0;
  position: sticky;
  left: 0;
  font-size: 1.5rem;
  font-weight: bold;
  background: #007CC1;
  color: white;
  text-align: center;
}
.setor{
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .grafico{
    overflow-x: scroll;
  }
  .grafico p{
    font-size: 1.2rem;
    position: sticky;
    left: 0;
  }
}
@media (max-width: 768px) {
  .grafico{
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .grafico p{
    font-size: .9rem;
    position: sticky;
    left: 0;
  }
}
@media (max-width: 425px) {
  .grafico{
    width: 65vh;
    max-width: 75vw;
    max-height: 35vh;
    margin: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-bottom: 1rem;
  }
  .grafico p{
    position: sticky;
    left: 0;
  }
}