.grafico {
  margin: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}
.grafico p {
  padding: 0.5rem 0;
  position: sticky;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  background: #007cc1;
  color: white;
  text-align: center;
  z-index: 2;
}
.setor {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.content-natureza {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  border: none;
  overflow-y: hidden;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.4);
}
.content-dataNatureza {
  height: 100%;
  border-radius: 15px;
}
.content-dataNatureza p:first-child {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  background: #007cc1;
  color: white;
  text-align: center;
  z-index: 9;
}
.tabelas-natureza {
  display: flex;
}
.tabelas-natureza table:first-child {
  padding: 0 5px;
  width: 100%;
  height: inherit;
}
.tabelas-natureza table thead tr th:first-child {
  text-align: center;
}
.tabelas-natureza table tr {
  font-size: 1.1rem;
  border-bottom: 1px solid black;
}
.tabelas-natureza table:last-child tr {
  text-align: right;
}
@media (max-width: 1366px) {
  .content-natureza {
    height: 54vh;
  }
}
@media (max-width: 1024px) {
  .grafico p {
    font-size: 1.2rem;
    position: sticky;
    left: 0;
  }
  .tabelas-natureza table thead th {
    font-size: 0.9rem;
  }
  .tabelas-natureza tfoot tr td {
    font-size: 1rem;
  }
  .tabelas-natureza thead tr th:first-child {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .grafico p {
    font-size: 0.9rem;
    position: sticky;
    left: 0;
  }
  .tabelas-natureza table thead th {
    font-size: 0.8rem;
  }
  .tabelas-natureza tfoot tr td {
    font-size: 0.9rem;
  }
  .tabelas-natureza thead tr th:first-child {
    width: 75%;
  }
}
@media (max-width: 425px) {
  .grafico {
    width: 65vh;
    max-width: 75vw;
    max-height: 40vh;
    margin: auto;
    margin-bottom: 1rem;
  }
  .grafico p {
    position: sticky;
    left: 0;
  }
  .content-natureza {
    width: 95%;
    margin-left: 0.5rem;
  }
  .tabelas-natureza table thead th {
    font-size: 0.7rem;
  }
  .tabelas-natureza tfoot tr td {
    font-size: 0.85rem;
  }
  .tabelas-natureza thead tr th:first-child {
    width: 75%;
  }
}
