.contentTable {
  width: 100%;
  height: 100%;
}
.contentTable table {
  width: 100%;
  border-spacing: 0;
}
.contentTable p {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.7rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  background: #007cc1;
  color: white;
  text-align: center;
  z-index: 9;
}

.atividade, 
.municipio,
.natureza {
  border-radius: 15px;
  overflow: hidden;
}

.atividade {
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.4);
}

.natureza {
  overflow-y: scroll;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.4);
}

.atividade .table p,
.municipio .table p,
.natureza p {
  position: sticky;
  top: 0;
  margin: 0;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  padding: .8rem 0;
  background: #007cc1;
}

 .contentTable table {
  width: 100%;
  height: 100%;
}

.contentTable table thead tr th:first-child {
  width: 70%;
  padding-left: .5rem;
}

.contentTable table thead tr th:last-child {
  text-align: center;
}

.contentTable table thead tr th:last-child,
.contentTable table tbody tr td:last-child {
  padding-right: .5rem;
}
.contentTable table thead tr th,
.contentTable table tbody tr td {
  border-bottom: 1px solid rgb(0, 0, 0, .5);
}

.contentTable table tbody tr td:first-child {
  padding: .3rem 0;
  padding-left: .5rem;
}

.contentTable table tbody tr td:last-child {
  text-align: center;
}
.contentTable table thead {
  height: 30px;
  text-align: left;
  background-color: rgb(0, 125, 212, .7);
  color: white;
  letter-spacing: .1rem;
}

@media (min-width: 1366px) {
  .natureza {
    height: 43.5vh;
    max-height: 440px;
  }
  .atividade {
    height: 51vh;
    max-height: 450px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .natureza {
    height: 55vh;
    max-height: 460px;
  }
  .atividade {
    height: 49vh;
    max-height: 405px;
    margin-bottom: 1rem;
  }

  .contentTable table thead tr th,
  .contentTable table tbody tr td {
    font-size: .9rem;
    padding: .4rem .5rem;
  }

  .atividade .table p,
  .municipio .table p,
  .natureza p {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .natureza {
    height: 55vh;
    max-height: 350px;
  }

  .atividade {
    height: 58.5vh;    
    max-height: 400px;
  }
}

@media (max-width: 540px) {
  .natureza {
    height: 60vh;
    max-height: 480px;
  }
  .atividade {
    height: 60vh;
    max-height: 480px;
  }
}