.main {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1366px;
  margin: auto;
  margin-top: 2rem;
}
.content-data {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border: 1px solid #00b0d7;
  padding: 1rem 0;
}

.content-tipoEmpresa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  max-height: 185vh;
  overflow: hidden;
}

.tipoEmpresa {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  max-width: 50vw;
  height: 100%;
  left: 0;
}

@media (max-width:540px) {
  .main {
    margin-top: 6rem;
  }

  .content-tipoEmpresa {
    flex-direction: column;
    max-height: none;
  }

  .tipoEmpresa {
    width: 95%;
    max-width: none;
    margin: auto;
  }
}