.content-buttons{
  display: flex;
}
.content-buttons button{
  outline: none;
  cursor: pointer;
}
.content-buttons button:first-child{
  border: 1.5px solid #007CC1;
  padding: 10px ;
  font-weight: bold;
}
.content-buttons button:last-child{
  background: transparent;
  border: 1.5px solid #007CC1;
  padding: 10px ;
  font-weight: bold;
}
@media (max-width:1024px) {
  .content-buttons button:first-child, .content-buttons button:last-child{
    padding: 7px;
  }
}
@media (max-width:768px) {
  .content-buttons button:first-child, .content-buttons button:last-child{
    padding: 6px;
  }
}
@media (max-width:425px) {
  .content-buttons button:first-child, .content-buttons button:last-child{
    padding: 5px;
  }
}