@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap");
 .header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  background-color: #0A4B78;
  color: #fff;
  font-weight: bold;
  z-index: 109;
}
.header section {
  width: 85%;
  max-width: 1366px;
  position: relative;
}
.header .menu-mobile {
  display: none;
}
.header h2 {
  margin: 0;
  font-weight: bolder;
  font-size: 1.7rem;
}
.header img {
  position: absolute;
  width: 150px;
  margin-right: 2rem;
  right: 0;
}
.header section {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}
@media (max-width: 1024px) {
  .header h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .header h2 {
    font-size: 0.8rem;
  }
  .header img {
    width: 14vw;
  }
}
@media (max-width: 540px) {
  .header{
    position: fixed;
    top: 0;
  }
  .header .menu-mobile {
    display: block;
  }
  .header h2 {
    font-size: 1rem;
  }
  .header img {
    display: none;
  }
}
