.grafico-mes {
  display: flex;
  height: 40vh;
  flex-direction: column;
  margin: 0 1rem 2rem 1rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.4);
}
.grafico-mes p {
  position: relative;
  padding: .8rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  background: #007cc1;
  color: white;
  text-align: center;
}

.grafico-mes p .icon-download-csv {
  position: absolute;
  right: 10px;
  top: 8px;
}

@media (min-width: 1366px) {
  .grafico-mes p .icon-download-csv {
    position: absolute;
    width: 35px;
    right: 10px;
    top: 8px;
  }
}

@media (max-width: 1024px) {
  .grafico-mes p {
    font-size: 1rem;
  }
  
  .grafico-mes p .icon-download-csv {
    position: absolute;
    width: 28px;
    right: 10px;
    top: 8px;
  }
}
@media (max-width: 768px) {
  .grafico-mes {
    height: 30vh;
    overflow-x: scroll;
  }
  .grafico-mes p {
    font-size: 0.9rem;
    position: sticky;
    left: 0;
  }
  
  .grafico-mes p .icon-download-csv {
    position: absolute;
    width: 25px;
    right: 10px;
    top: 8px;
  }
}
@media (max-width: 540px) {
  .grafico-mes {
    position: relative;
    width: 95%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .grafico-mes .csvlink {
    position: sticky;
    left: 0;
  }

  .grafico-mes p {
    font-size: 1rem;
    padding: .8rem 0;
  }
    .grafico-mes div {
    position: sticky;
    left: 0;
    width: 100%;
    z-index: 9;
  }

  .grafico-mes p .icon-download-csv {
    position: absolute;
    width: 25px;
    right: 10px;
    top: 8px;
  }
}
